<h1>
	Categrory List
</h1>
<table class="table table-bordered table-striped">
	<tr>
	<th>Category Name</th>
		<th>
			Display Order
		</th>
		<th>Category Id</ th>
	</tr>
	<tr>
		<td id="cate-name"></td>
	</tr>
</table>